.right_col{
    height: 100vh;
  }

span.required {
    color: red;
    font-size: 12px;
}

.nav_title a img {
    background: #fff;
    
}
.guarantor_area{
    border-left: 2px solid;
    height: 100%;
}
.customer_view_area {
    margin-top: 15px;
}
.title {
    font-size: 17px;
    color: #000;
    padding-left: 12px;
}



.product_list {
    height: 10%;
    padding: 2px;
    text-align: center;
    margin: auto;
}

.btn-group ul li{
   display: inline;
}

.btn-group ul li a{
    width: 33%;
}

input.input-field {
    width: 60px;
    height: 30px;
    border-radius: 0px;
    text-align: end;
}

.select2-container{ 
    width: 100% !important; 
}